
.container{
   
    width: 50%;
    height: 300px;
    display: flex;
    gap: 7px;
    justify-content: flex-start;
    
}
.container img{
    width: 100px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(250, 247, 247);
    transition: all ease-out 0.8s;
    cursor: pointer;
  
}
.container img:hover{
  width: 800px;
  height: 300px;
} 